<div class="fbNewsViewMain">
    <div data-bind="template: { name: 'postsTemplate', data: $data.fbNewsData.tabs.important}"></div>
    <div data-bind="with: fbNewsFetcher">
        <hr />
        <button data-bind="click: fetchNext, disable: isInProgress, visible: hasMoreResults" class="btn btn-primary pull-right" type="button">More</button>
    </div>
</div>



<!-- ko templates -->
<script type="text/html" id="postsTemplate">
    <ul class="list-unstyled" data-bind="foreach: $data">
        <li>
            <div data-bind="if: link.url">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a data-bind="attr: { href: link.url}"><img data-bind="attr: { src: link.preview}"></a>
                    </div>
                    <div class="panel-body">
                        <p data-bind="text: from.name" class="lead"/>
                        <p data-bind="text: message" />
                        <p><small class="text-right small text-muted"><span data-bind="text: displayDate" /></small></p>
                    </div>
                </div>
            </div>
            <div data-bind="ifnot: link.url">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong data-bind="text: from.name"/>
                        &nbsp;<span data-bind="text: message" />
                        &nbsp;&nbsp;<span class="pull-right"><small class="small text-muted"><span data-bind="text: displayDate" /></small></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</script>
