body {
	border:groove;
    border-color: aqua;
    border-width: 1px;
}

div {
    border:dotted;
    border-color: blueviolet;
    border-width: 1px;
}

p {
    border: dashed;
    border-color: bisque;
    border-width: 1px;
}

table {
    border: groove;
    border-color: azure;
    border-width: 1px;
}

ul, ol {
    border: inset;
    border-color: brown;
    border-width: 1px;
}

h1, h2, h3, h4, h5, h6 {
    border: ridge;
    border-color: chocolate;
    border-width: 1px;
}